@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan di resources/css/app.css */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    z-index: 200 !important;
}

.leaflet-control {
    z-index: 400 !important;
}

/* Atur z-index untuk navbar */
nav.bg-blue-600 {
    z-index: 1000 !important;
    position: relative;
}

/* Atur z-index untuk modal */
div[x-show="open"].fixed.inset-0 {
    z-index: 1500 !important;
}